body {
    overflow: hidden;
    display: inline-block;
    margin: 5px;
    background-color: #dedede;
    width: 300px;
    max-width: 300px;
    max-height: 470px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

#commands-container {
    display: flex;
    margin-bottom: 5px;
    vertical-align: middle;
}
#commands-container input { 
    float: left;
    padding: 0px;
    width: 80%;
}
#commands-container button > * {
    display:inline-block;
    vertical-align: middle;
}
#commands-container button span:first-letter {
    text-decoration: underline;
}
#commands-container button {
    float: right;
    padding: 0px;
    font-size: 0.7em;
    width: 60px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}
#data-container table {
    width: 100%;
    border-collapse: collapse;
}
#data-container td {
    padding: 5px;
    font-size: 0.8em;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
}
#data-container tr { 
    border-bottom: 1px solid #ccc; 
}
#data-container tr:hover {
    background-color: #b3b3b3; 
}
#data-container tr:hover > th {
    background-color: #dedede;
}
#data-container tr:not(:hover) > td:nth-child(1) { 
    background-color: #c0c6c0; 
}
#data-container td:nth-child(2) {
    width: 38px;
    text-align: center;
}
#data-container td:nth-child(3) { 
    text-align: left; 
}
#data-container th {
    font-size: 13px;
    white-space: nowrap;
}
#data-container img {
    width: 80px;
    height: auto;
    box-shadow: 1px 1px 3px 1px grey;
}
#data-container {
    max-height: 280px; 
}

#history-container { 
    max-height: 150px; 
}
#history-container li, 
#history-container .histCmd {
    display: inline-block;
    margin: 3px;
    border: 1px solid;
    border-radius: 3px;
    padding: 4px;
    font-size: 0.9em;
}
#history-container li:hover { 
    background: #99badd 
}
#history-container ul {
    padding: 10px;
    margin: 2px;
}
label { 
    font-size:0.75em; 
}
.infoBar {
    width: 4px;
    height : 4px;
    vertical-align: middle;
}
.histCmdOK { 
    background-color: #4ae54a; 
}
.histCmdERR { 
    background-color: #fe806b; 
}
.histCmdPartialOK { 
    background-color: #fef052; 
}

#data-container, 
#history-container {
    overflow: auto;
    overflow-x: hidden;
}
#progress-container {
    display: none;
    width: 100%;
    padding-top: 2px;
}

#progress-bar, 
#progress-info { 
    display: table-cell; 
}

#progress-bar { 
    width: 100%; 
}
#progress-info {
    width: 1px;
    white-space: nowrap;
    padding: 5px;
}
#progress-cmd {
    display: table-row;
}

